<div class='info'>
  <a class='gallery__item' loading='lazy' href={{largeImageURL}}>
    <img
      class='gallery__image'
      loading='lazy'
      src={{webformatURL}}
      alt='{{tags}}'
    /></a>
  <ul class='wrapper'>
    <li class='info-item'><b>Like:<p>{{likes}}</p></b></li>
    <li class='info-item'><b>Views:<p>{{views}}</p></b></li>
    <li class='info-item'><b>Comments:<p>{{comments}}</p></b></li>
    <li class='info-item'><b>Download:<p>{{downloads}}</p></b></li>
  </ul></div>